// Input/output Parameters
params.input_path = "PATH/TO/DATA"
params.output_path = "PATH/TO/OUTPUT"

// Use Mesmer (mesmer) or Cellpose (cellpose) for segmentation
params.segmentation_tool = "mesmer"

// Cellpose Segmentation Parameters
params.model_name = "cyto"
params.probability_threshold = 1
params.cell_diameter = 70

// Set to false to skip making ImageJ ROIs (faster)
params.do_zip =	true
